!!!
%html
  %head
    %title= content_for(:title)
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"
    = stylesheet_link_tag "https://cdn.rawgit.com/knsv/mermaid/0.5.6/dist/mermaid.forest.css"
    = stylesheet_link_tag "localdoc/application", :media => "all"
    = javascript_include_tag "https://cdn.rawgit.com/knsv/mermaid/0.5.6/dist/mermaidAPI.min.js"
    = javascript_include_tag "localdoc/application"

    = csrf_meta_tags

  %body
    = yield
